<div class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img alt="Sprint from Zero to App" src="assets/images/sprintzerotoapp.svg">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Sprint from Zero to App</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop</p>
    </div>
  </div>
  <div class="docs-homepage-bottom-start">
    <a class="docs-button mat-raised-button" mat-raised-button="" aria-disabled="false" tabindex="0" target="_blank"
       href="https://github.com/habilelabs/angular-material-seed/blob/master/README.md"><span class="mat-button-wrapper">Get started</span>
      <div class="mat-button-ripple mat-ripple" mat-ripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </div>
</div>
